/* You can add global styles to this file, and also import other style files */
.body-navbar-fix { padding-top: 70px;}

.diff-easy{
    background-color: #42ebf4;
}

.diff-medium{
    background-color: #92cf5c;
}

.diff-hard{
    background-color: #dd0d1e;
}

.diff-super{
    background-color:#8d16e2;
}

.difficulty{
    min-width:65px;
    margin-right: 10px;
}

.label.difficulty{
    padding-top: 0.6em;
    color: #fbfdfa;
    font-size: 12px;
}
