<div class="container" *ngIf="problem">
  <h2>
    {{problem.id}}. {{problem.name}}
  </h2>
  <div class="{{ 'pull-left label diff-' + problem.difficulty.toLowerCase() }}">
      {{ problem.difficulty }}
  </div>
  <br>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div>
        <h2>Description</h2>
        <p>
          {{problem.desc}}
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div>
        <h2>Answers</h2>
        <textarea class="answer-text" row="50"></textarea>
      </div>
    </div>
  </div>

  <br>
  <div>
    <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
    <button type="button" class="btn btn-default pull-right" [disabled]="true">submit</button>
  </div>
</div>